/* PADDING */
h1 {
  background-color: red;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 50px;
}
p {
  background-color: blue;
  /* padding: 50px; */
  /* padding: 30px 50px; */
  padding: 20px 40px 60px 80px;
}

/* MARGIN */
* {
  margin: 0;
  background-color: black;
}
h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 50px;
}
p {
  /* margin: 30px; */
  /* margin: 20px 40px; */
  margin: 20px 40px 60px 80px;
}

/* BORDER */
h1 {
  border-style: solid;
  border-width: 10px;
  border-color: green;
  border-radius: 30px;
}
p {
  border: 20px solid yellow;
  border-radius: 30%;
}
.button {
  margin: 3rem;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 2rem;
  cursor: pointer;
}
#one {
  border: 2px solid white;
  background-color: red;
}
#two {
  outline: 2px solid white;
  background-color: blue;
  outline-offset: -20px;
}
