/* div {
  width: 150px;
  height: 150px;      Just remove the comment to see the gradient value
  display: flex;
  margin: 5px;
} */
/* .one {
  background: linear-gradient(red, blue);
}
.two {
  background: linear-gradient(to top, black, red);
}
.three {
  background: linear-gradient(to left, red, blue, yellow, brown, green);
}
.four {
  background: linear-gradient(315deg, red, blue);
}
.five {
  background: linear-gradient(to top right, red, blue);
} */
/* .banner {
  border: 5px solid red;
  padding: 10px;
  overflow: hidden;
}
img {
  float: left;
}
p {
  text-indent: 50px;
  margin-right: 50px;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  float: left;
  background: red;
  height: 200px;
  width: 30%;
  position: relative;
  top: 50px;
  left: 50px;
}
.two {
  float: left;
  background: blue;
  height: 200px;
  width: 30%;
  position: absolute;
}
.three {
  float: left;
  background: green;
  height: 200px;
  width: 30%;
}
