/* img {
  width: 200px;
  height: 200px;
  position: absolute;
}
.banner {
  margin: 20px;
  width: 67vw;
  height: 70vh;
  border: 3px solid red;
  position: relative;
}
.one {
  top: 0;
  left: 0;
  z-index: 0;
}
.two {
  top: 20%;
  left: 20%;
  z-index: -1;
}
.three {
  top: 40%;
  left: 40%;
  z-index: -2;
} */
/* p::before {
  content: "hello ";
  font-weight: bold;
  font-size: 2rem;
  color: red;
  background: black;
  /* display: inline-block; */
/*}
.banner {
  width: 50vw;
  margin: 100px auto;
  position: relative;
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
} */
/* div::before {
  content: "";
  border: 3px solid red;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -50px;
  left: -50px;
  z-index: -2;
  transition: all 0.5s linear;
}
.banner::after {
  content: "";
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  left: -20px;
  z-index: -1;
  transition: all 0.5s linear;
}
.banner:hover::after {
  top: 20px;
  left: 90px;
}

.banner:hover::before {
  top: 40px;
  left: 120px;
} */
/* div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
div:hover {
  background: black;
  transition: all 1.5s linear;
  cursor: crosshair;
  /* transition-delay: 0.5s; */
/* transition-timing-function: ease-in-out;
  border-radius: 30%; */
/* }
.one {
  background: red;
  /* transform: scaleX(0.1);
  transform: rotateZ(340deg); */
/* }
.two {
  background: green;
  /* transform: scaleY(0.1);
  transform: rotateX(85deg); */
/*}
.three {
  background: blue; */
/* transform: scale(0.6, 0.5);
  transform: rotateY(85deg); */
/*}*/
.transition {
  width: 100px;
  height: 100px;
  background: black;
  color: orange;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.transition:hover {
  transform: translate(100px);
}
.animation {
  background: black;
  color: orange;
  display: inline-block;
  cursor: pointer;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 2;
}
@keyframes move {
  0% {
    transform: translateX(25px);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(75px);
    background: red;
    color: blue;
  }
  75% {
    transform: translateX(-75px);
  }
}
