* {
  margin: 0;
  padding: 0;
}

.block {
  background: blue;
  color: white;
  /* display: inline; */
  width: 150px;
  /* margin-right: auto;
  margin-left: auto; */
  margin: 20px auto;
}
.inline {
  background: black;
  color: white;
  /* display: block; */
}
body {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: armenian;
}
ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: black;
  color: orange;
  display: block;
  padding: 5px;
  margin: 5px;
  /* opacity: 0.75;
  visibility: visible; */
}
.div div {
  height: 100vh;
  color: red;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .bigimg {
  background: url("./big.jpeg");
  background-repeat: round;
  background-attachment: fixed;
} */
.bigimg {
  background: linear-gradient(rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.2)),
    url("./big.jpeg") center/cover fixed no-repeat;
}
.smallimg {
  background: url("./bigc.jpeg");
  background-repeat: no-repeat;
  /* background-repeat: space; */
  background-position: center;
}
.folderimg {
  background: url("../img/building.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  background-attachment: fixed;
}
