#heading,
#ending {
  color: white;
  background: black;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: chartreuse;
}
.yellow {
  color: yellow;
}
div {
  font-family: monospace;
  border: 4px solid black;
  font-size: 20px;
}
.relative {
  font-size: 2em; /*em work relative to the browser font size or the parent font size */
  background-color: teal;
  min-width: calc(100vw - 100px); /*using calc() function*/
  min-height: calc(50vh - 50px);
}
.absolute {
  background-color: aqua;
  color: blanchedalmond;
  height: 100px;
  font-size: 2rem;
}
