div {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  text-align: left;
  text-indent: 50px;
}
#heading1 {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}
.dummy {
  line-height: 2rem;
  letter-spacing: 1px;
  word-spacing: 30px;
}
a {
  font-size: 30px;
  text-decoration: overline;
}
